<%= form_with(model: cliente) do |form| %>
    <% if cliente.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>
            <ul>
                <% cliente.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= form.label :cpf, "CPF", style: "display: block" %>
        <%= form.text_field :cpf %>
    </div>

    <div>
        <%= form.label :nome, style: "display: block" %>
        <%= form.text_field :nome %>
    </div>

    <div>
        <%= form.label :sobrenome, style: "display: block" %>
        <%= form.text_field :sobrenome %>
    </div>

    <!-- <div>
        <%= form.label :logradouro, style: "display: block" %>
        <%= form.text_field :logradouro %>
    </div>

    <div>
        <%= form.label :cep, "CEP", style: "display: block" %>
        <%= form.text_field :cep %>
    </div> -->

    <%= form.fields_for :endereco do |endereco_form| %>
        <div>
            <%= endereco_form.label :logradouro, style: "display: block" %>
            <%= endereco_form.text_field :logradouro %>
        </div>
        <div>
            <%= endereco_form.label :cep, "CEP", style: "display: block" %>
            <%= endereco_form.text_field :cep %>
        </div>
    <% end %>

    <br>

    <%= form.submit "Salvar cliente", class: "button" %>
<% end %>