<div id="<%= dom_id produto %>" class="item">
    <p>
        <strong>Nome:</strong>
        <%= produto.nome %>
    </p>

    <p>
        <strong>Preço:</strong>
        <%= produto.preco %>
    </p>

    <p>
        <strong>Estoque:</strong>
        <%= produto.estoque %>
    </p>

    <p>
        <strong>Pedidos:</strong>
        <%= produto.pedidos.map(&:codigo).join(", ") %>
    </p>
</div>
